* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $lightGreyColor;
    color: $secondary-color;
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
    position: relative;
}

h3 {
    color: $darkColor;
}

.container {
    margin: 0 auto;
    padding: 0;
    background-color: $primary-color;
    @media screen and (min-width: 768px) {
        max-width: 960px;
    }
    @media screen and (min-width: 961px) {
        max-width: 1199px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1360px;
    }
}

.custom__btn--primary {
    background-color: $bgColorBtn;
    letter-spacing: 2px;
    @media screen and (min-width: 768px) {
        letter-spacing: 4px;
    }
}

.text {
    opacity: 0.7;
    @media screen and (min-width: 1200px) {
        font-size: 18px;
        line-height: 28px;
        width: 78%;
    }
}

.title {
    letter-spacing: 4px;
    font-weight: 500;
}