.features {
    &__icon {
        width: 44px;
        height: 44px;
    }
    /* &__imgPrimary {
        position: relative;
    }*/
    &__imgSecondary {
        position: absolute;
        left: 33%;
        top: 16%;
        height: 325px;
        @media screen and (min-width: 768px) {
            height: 450px;
            left: 50%;
        }
    }
}