.works {
    padding: 20px 40px 0;
    @media screen and (min-width: 960px) {
        padding: 60px 70px 60px;
    }
    @media screen and (min-width: 1200px) {
        padding: 130px 109px 100px;
    }
    &__nav {
        @media screen and (min-width: 768px) {
            letter-spacing: 4px;
        }
    }
    &__link {
        font-size: 13px;
        opacity: 0.3;
        text-decoration: none;
        color: $secondary-color;
        @media screen and (min-width: 960px) {
            line-height: 24px;
            font-size: 14px;
        }
        &:hover {
            color: $colorLink;
            text-decoration: none;
            opacity: 1;
        }
        &:nth-child(1) {
            color: $colorLink;
            opacity: 1;
        }
    }
    &__images {
        cursor: pointer;
        @media screen and (min-width: 375px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
        }
        @media screen and (min-width: 768px) {
            text-align: start;
        }
    }
}