.works {
    padding: 80px 40px 0;
    @media screen and (min-width: 960px) {
        padding: 120px 70px 60px;
    }
    @media screen and (min-width: 1200px) {
        padding: 190px 109px 100px;
    }
    &__nav {
        @media screen and (min-width: 768px) {
            word-spacing: 10px;
        }
    }
    &__link {
        font-size: 13px;
        opacity: 0.3;
        text-decoration: none;
        color: $secondary-color;
    }
    &__images {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}